.sideBarInventoryPageBody
{
    height: 100svh;
    width: 100%;
    display: flex;
    align-items: center;
}

.sideBarInventoryCardContainer
{
    /* background-color: rebeccapurple; */
    height: 90svh;
    padding: 1rem 0;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.sideBarInventoryPageBody::-webkit-scrollbar
{
    width: 5px;
    background-color: green;
}